	</div>
	<div id="sidebar" class="span-6 last">
		<div>
			<h1>I also write at:</h1>
			<a href="http://itbrokeand.ifixit.com">It Broke and iFixit</a><br />
			<a href="http://thefuckingbible.com">The Fucking Bible</a>
		</div>
		<div>
			<h1>Find me on:</h1>
			<a href="http://github.com/xiongchiamiov">GitHub</a><br />
			<a href="http://coderwall.com/xiongchiamiov">coderwall</a><br />
			<a href="http://www.reddit.com/user/xiongchiamiov/">Reddit</a>
				<small><a href="/about/reddits.html">[reddits]</a></small><br />
			<a href="https://www.quora.com/Xiong-Chiamiov">Quora</a><br />
			<a href="http://news.ycombinator.com/user?id=xiongchiamiov">Hacker News</a><br />
			<a href="http://stackexchange.com/users/41616/xiong-chiamiov?tab=accounts">Stack Exchange</a><br />
			<a href="http://www.last.fm/user/xiongchiamiov">Last.fm</a><br />
			<a href="http://pinboard.in/u:xiong.chiamiov">Pinboard</a><br />
			<a href="http://www.facebook.com/profile.php?id=837370606">Facebook</a><br />
			<a href="http://anidb.net/perl-bin/animedb.pl?show=userpage&uid=272973">AniDB</a><br />
			<a href="http://en.wikipedia.org/wiki/User:Xiong_Chiamiov">Wikipedia</a>
		</div>
		<!-- Goodreads widget -->
		<div id="gr_challenge_1914" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px; max-width:230px; min-height: 100px">
			<div id="gr_challenge_progress_body_1914" style="font-size: 12px; font-family: georgia,serif;line-height: 18px">
				<h3 style="margin: 4px 0 10px; font-weight: normal; text-align: center">
					<a href="http://www.goodreads.com/challenges/1914-2014-reading-challenge" style="text-decoration: none; font-family:georgia,serif;font-style:italic; font-size: 1.1em">2014 Reading Challenge</a>
				</h3>
				<div class="challengePic">
					<a href="http://www.goodreads.com/challenges/1914-2014-reading-challenge"><img alt="2014 Reading Challenge" src="http://d.gr-assets.com/challenges/1357247331p2/1914.jpg" style="float:left; margin-right: 10px; border: 0 none" /></a>
				</div>
				<div>
					<a href="http://www.goodreads.com/user/show/19434699-xiong-chiamiov">Xiong</a> has read 2 books toward his goal of 16 books.
				</div>
				<div style="width: 100px; margin: 4px 5px 5px 0; float: left; border: 1px solid #382110; height: 8px; overflow: hidden; background-color: #FFF">
					<div style="width: 12%; background-color: #D7D2C4; float: left"><span style="visibility:hidden">hide</span></div>
				</div>
				<div style="font-family: arial, verdana, helvetica, sans-serif;font-size:90%">
					<a href="http://www.goodreads.com/user_challenges/1347076">2 of 16 (12%)</a>
				</div>
				<div style="text-align: right;">
					<a href="http://www.goodreads.com/user_challenges/1347076" style="text-decoration: none; font-size: 10px;">view books</a>
				</div>
			</div>
			<!-- This script updates the widget.  So, removing elements directly won't work (because this will re-add them), but we want it to exist so data updates. -->
			<script
			src="http://www.goodreads.com/user_challenges/widget/19434699-xiong-chiamiov?challenge_id=1914&v=2" type="text/javascript"></script>
		</div>
		<div>
			<h1>Other things hosted here:</h1>
			<a href="http://changedmy.name/virus-td/">Virus-TD</a><br />
			<a href="http://changedmy.name/cplug.org/">CPLUG.org redesign</a><br />
			<a href="http://changedmy.name/funimation-license-mirror/">Funimation license mirror</a><br />
			<a href="http://changedmy.name/bop/">Band of Programmers</a>
		</div>
	</div>
	<div id="footer" class="span-24 last">
		<div>
			&copy; 2010-2013 James Pearson under <a target="_blank"
			href="http://creativecommons.org/licenses/by/3.0/us/">a Creative
			Commons attribution license</a>.
		</div>
	</div>
	</div>
	</div>
	</div>
	<script type="text/javascript">
		var disqus_shortname = 'changedmyname';
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.src = 'http://disqus.com/forums/changedmyname/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
</body>
</html>
