	</div>
	<div id="sidebar" class="span-6 last">
		<div>
			<h1>Find me on:</h1>
			<a href="http://github.com/xiongchiamiov">GitHub</a><br />
			<a href="http://www.reddit.com/user/xiongchiamiov/">Reddit</a><br />
			<a href="http://news.ycombinator.com/user?id=xiongchiamiov">Hacker News</a><br />
			<a href="http://calendaraboutnothing.com/~xiongchiamiov">Calendar About Nothing</a><br />
			<a href="http://www.last.fm/user/xiongchiamiov">Last.fm</a><br />
			<a href="http://pinboard.in/u:xiong.chiamiov">Pinboard</a><br />
			<a href="http://stackoverflow.com/users/120999/xiong-chiamiov">Stack Overflow</a><br />
			<a href="http://www.facebook.com/profile.php?id=837370606">Facebook</a><br />
			<a href="http://anidb.net/perl-bin/animedb.pl?show=userpage&uid=272973">AniDB</a><br />
			<a href="http://en.wikipedia.org/wiki/User:Xiong_Chiamiov">Wikipedia</a>
		</div>
		<div>
			<h1>Other things hosted here:</h1>
			<a href="http://changedmy.name/virus-td/">Virus-TD</a><br />
			<a href="http://changedmy.name/cplug.org/">CPLUG.org redesign</a><br />
			<a href="http://changedmy.name/funimation-license-mirror/">Funimation license mirror</a><br />
			<a href="http://changedmy.name/bop/">Band of Programmers</a>
		</div>
	</div>
	<div id="footer" class="span-24 last">
		<div>
			&copy; 2010-2012 James Pearson under <a target="_blank"
			href="http://creativecommons.org/licenses/by/3.0/us/">a Creative
			Commons attribution license</a>.
		</div>
	</div>
	</div>
	</div>
	</div>
	<script type="text/javascript">
		var disqus_shortname = 'changedmyname';
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.src = 'http://disqus.com/forums/changedmyname/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
</body>
</html>
