<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{{ page.title }} - changedmy.name</title>
	<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection" />
	<![endif]-->
	<link rel="stylesheet" href="/media/css/style.css" />
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-32079843-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		 })();
	</script>
</head>
<body>
	<div id="wrapper-1">
	<div id="wrapper-2">
	<div class="container">
	<div id="header" class="span-24 last">
			<!--
			Tables? Seriously?
			
			Yes, seriously.
			
			After a few hours of struggling with a few different approaches, I
			eventually just gave up. Some of them almost worked, but the code
			was significantly dirtier than this, and gosh darnit, I'll put aside
			purity for something that works.
			-->
			<div id="nav">
				<table>
					<tr>
						<td><a href="/">Home</a></td>
					</tr>
				</table>
				<table>
					<tr>
						<td><a href="/articles/">Articles</a></td>
					</tr>
				</table>
				<table>
					<tr>
						<td><a href="/thoughts/">Thoughts</a></td>
					</tr>
				</table>
				<table>
					<tr>
						<td rowspan="3"><a href="/about/me.html">About</a></td>
						<td><a href="/about/tools.html">My Tools</a></td>
					</tr>
					<tr><td><a href="/about/the_site.html">The Site</a></td></tr>
					<tr><td><a href="/about/contact.html">Contact</a></td></tr>
				</table>
			</div>
	</div>
	<div id="content" class="span-18">
