{% include page_top.html %}
		<div>
			{% include post_header.html %}
			{{ content }}
		</div>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		/**
		  * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
		  */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://changedmyname.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=changedmyname">comments powered by Disqus.</a></noscript>
{% include page_bottom.html %}
